<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="ml-5 navbar-brand" th:href="@{/user/questions/}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/LogoUTC.jpg" alt="" style="width: 50px; border-radius: 50%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user/questions/}">Trang chủ <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/questions/form-create-question}">Thêm câu hỏi <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thể loại
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div th:each="category: ${categories}">
                            <a class="dropdown-item" th:href="@{/user/questions/category/__${category.id}__}"
                               th:text="${category.name}">Action</a>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-5" action="/logout" method="post">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
            </form>
        </div>
    </nav>
    <div class="row mt-3">
        <div class="col-12">
            <div class="row mt-3 ml-5">
                <h2 class="col-12 text-center">Sửa câu hỏi</h1>
                </h2>
                <div class="col-3"></div>
                <div class="col-6 text-center mt-3">
                    <form class="form-group" th:action="@{/user/questions/edit-question}" th:object="${question}"
                          method="post">
                        <input th:type="hidden" name="id" th:field="*{id}">
                        <div class="form-group">
                            <div class="text-left">Nội dung</div>
                            <textarea th:field="*{content}" placeholder="Nhập vào nột dung câu hỏi" class="form-control mt-2" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="text-left">Thể loại</div>
                            <select th:field="*{category}" class="form-control mt-2">
                                <option th:each="category:${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                        <input type="submit" value="Sửa" class="btn btn-primary">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>